<li>
	{{toppings}}

	<button class="change-eaten" data-id="{{id}}" data-newEaten="{{eaten}}">
		{{#if eaten}}TACO TIME!{{else}}YUMMY!{{/if}}
	</button>

	<button class="delete-taco" data-id="{{this.id}}">DELETE!</button>
</li>
